
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="../public/mystyle.css">
</head>

<body>
  <div class="naviga">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</div>
  <h1>Contact Us</h1>
  <p>Feel free to contact us with any questions or concerns.</p>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>

    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea><br>

    <input type="submit" value="Submit">
  </form>
</body>

</html>