<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="mystyle.css">
  </head>
  <body>
      <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
  </header>
    <div class="hero">
      <div class="title">
    <h1>Welcome to our website!</h1>
    <p>We provide a variety of services to help you reach your goals.</p>
    <button class="btn"> More info </button>
  </div>
  <div class="image"> 
    <img src="https://img.freepik.com/free-vector/business-leader-instructing-workgroup_74855-4375.jpg"/>
  </div>
    </div>
  </body>
</html>
