<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="../public/mystyle.css">
  </head>
  <body>
      <div class="naviga">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
    <div>
    <h1>Welcome to our website!</h1>
    <p>We provide a variety of services to help you reach your goals.</p>
    </div>
  </body>
</html>
