<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Our Services</title>
    <link rel="stylesheet" href="../public/mystyle.css">
</head>

<body>
    <div class="naviga">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</div>
    <div class="service_info">
    <h1>Our Services</h1>
    <ul class="list">
        <li>Service 1</li>
        <li>Service 2</li>
        <li>Service 3</li>
    </ul>
    </div>
</body>

</html>