<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Our Services</title>
    <link rel="stylesheet" href="mystyle.css">
</head>

<body>
    <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
</header>
    <div class="service_info">

    <h1>Our Services</h1>
    <div class="list">
        <div class="list_img"> 
            <h3>Software services</h3>
            <img src="https://www.aalwani.in/wp-content/uploads/bfi_thumb/conduct-the-perfect-meeting-39acbx3088vigyabbvi41s.png"/>
        </div>
        <div class="list_img"> 
            <h3>Training Services </h3>
            <img src="https://img.freepik.com/free-vector/organic-flat-people-business-training-illustration_23-2148911450.jpg"/>
        </div>
        <div class="list_img"> 
            <h3>Marketing services</h3>
            <img src="https://img.freepik.com/free-vector/female-student-presenting-report-graph-class-cartoon-person-presents-report-school_24797-1556.jpg?w=360"/>
         </div>
    </div>
    </div>
</body>

</html>